@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root{
    --cor-de-fundo: #000000;
    --branco: #6b0017;
    --laranja:#ffffff;
    --azul-degrade: linear-gradient(97.54deg, #800020 35.49%, #d80000 165.37%);
    --fonte-principal:"poppins";
    --azul:#740019;
    --fonte-segundaria:"josefin sans";
    --preto:#000000;
    --cinza:#474646;
    --cinza-claro:#858585;


}
 body{ 
    background-color:var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
 }

